@import "font.css";
*{
  margin:0;
  box-sizing: border-box;
  font-family:"Dosis-VariableFont_wght";
  font-size: 20px;
}

form{
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-top: 200px;
  margin: 0 auto;
  label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    div{
      p{
        color:red;
      }
      input{
        outline: none;
        border: none;
        border-bottom: 1px solid grey;
      }
    }
  }
  .file_submit{
    margin:0 auto 10px;
  }
  .fileRed{
    color:red;
    margin-bottom: 10px;
    margin-left: 85px;
  }
}