* {
    margin: 0;
    box-sizing: border-box;
}

.feedback-head {
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
}

.feedback-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: dimgrey 1px solid;

}

.feedback-element {
    padding-bottom: 10px;
}

.feedback-button-wrapper {
    margin: 12px auto;
    text-align: center;

}

.feedback-button {
    width: 120px;
    margin: 12 auto;
}